// Heading colors
$background-color: #fff;
$text-color: #333;
$heading-color: #000;

// Typography
$base-font-size: 1.2em;
$serif-font: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, "Times New Roman", Times, serif;
$sans-serif-font: "Helvetica Neue", Arial, "Helvetica", sans-serif;

// Breakpoints
$break-small: 320px;
$break-large: 1024px;

